.overviewContainer{
               display: flex;
               flex-direction: column;
               
               .top{
                       display: flex;
                       flex-direction: row;  
               //         box-shadow: '2px 5px 20px 1px rgba(57, 56, 56, 0.47)'           
               .left{
                              margin-top: 13px;
                              // background-color: aqua;
                              -webkit-box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.47);
                              box-shadow: 2px 5px 20px 1px rgba(57, 56, 56, 0.47);     
               } 
               .right{
                              display: flex;
                              margin-top: 13px;
                              margin-left: 13px;
                              // background-color: aqua;
                              align-items: center;
                              -webkit-box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.47);
               box-shadow: 2px 5px 20px 1px rgba(57, 56, 56, 0.47);

               }
               }
               .bottom{
                        //       width: 96.6%;
                              margin-top: 13px;
                              margin-bottom: 40px;
                              -webkit-box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.47);
                              box-shadow: 2px 5px 20px 1px rgba(57, 56, 56, 0.47);           
               }
              
}