.newtoolContainer{
               
               .top,
               .bottom {
                //  -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.47);
                //  box-shadow: 0px 1px 0px 0px rgba(57, 56, 56, 0.47);
                 padding: 10px;
                 border: 1px solid rgb(220, 219, 219);
                 margin: 20px;
                 display: flex;}
               .bottom{
               flex-direction: row;
               .right{
                 padding: 0px 20px;

                 form {
                              display: flex;
                              flex-wrap: wrap;
                              gap: 30px;
                              justify-content: space-between;
                 .inputField{
                              width: 40%;
                              select{
                                             width: 100%;
                                             padding: 10px;
                                             border: none;
                                             border-bottom: 1px solid gray;
                                           }
                              label {
                                display: flex;
                                align-items: center;
                                gap: 20px;
                  
                                
                              }
                              input {
                                             width: 100%;
                                             padding: 5px;
                                             border: none;
                                             border-bottom: 1px solid gray;
                                           }
                                           input:focus{
                                            outline: inherit;
                                           }
                                           button {
                                             width: 150px;
                                             padding: 10px;
                                             border: none;
                                             background-color: teal;
                                             color: white;
                                             font-weight: bold;
                                             cursor: pointer;
                                             margin-top: 10px;
                                           }
                 }
               }
               }
              } 

}
@media screen and (max-width:900px) {
  .newtoolContainer{
    .right{
      padding: 0px 2px;
    form {
      // background-color: aqua;
                   display: flex;
                   width: 100%;
                  // flex-direction: column;
      .inputField{
                  //  width: 100%;
                   label{
                    width: 100%;
                    // background-color: blueviolet;
                   }
                   input{
                    width: 100%;
                    // background-color: aqua;
                   }
                  
                }

    }
  }
    }
}

@media screen and (max-width:600px) {
  .newtoolContainer{
    .bottom{
    .right{
      padding: 0px 20px;
    form {
      // background-color: aqua;
                   display: flex;
                  //  flex-wrap: nowrap;
                   width: 100%;
                  //  background-color: aqua;
                  flex-direction: column; 
         .inputField{
                   width: 100%;
                  //  background-color: aqua;
                }
              }
    }
  }
    }
}